html {
  height: 100%;
  width: 100%;
}

h1 {

border: 2px groove black;
padding: 20px;
background-color: greenyellow;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;



}

h2 {

border: 2px solid black;
width: 810px;
height: 300px;
background-color: greenyellow;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;





}